<div class="list">
  <label class="item item-input">
    <span class="input-label">ODK URL</span>
    <input type="text" ng-model="data.odkUrl">
  </label>
  <label class="item item-input">
  	<span class="input-label">ENKETO URL</span>
    <input type="text" ng-model="data.enketoUrl">
  </label>
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="data.username">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="data.password">
  </label>
</div>