<div class="list">
	<label class="item item-radio">
	    <input type="radio" name="group" ng-checked="true">
	    <div class="item-content item-text-wrap">
	      ODK Aggregate
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	</label>	
	<label class="item item-radio">
	    <input type="radio" name="group">
	    <div class="item-content item-text-wrap">
	      Google Drive, Google Maps Engine
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	</label>
	<label class="item item-radio">
	    <input type="radio" name="group">
	    <div class="item-content item-text-wrap">
	      Other
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	</label>
</div>